{% extends 'base.html' %}
{% block content %}

<h1>Instrument Details</h1>

<div>
        <div class="content">
            <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
                <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">{{ instrument.name }}</h1>
                <div class="pa3 bt b--black-10">
                <p class="f6 f5-ns lh-copy measure {{ instrument.color }}">Color: {{ instrument.color }}</p>
                <p class="f6 f5-ns lh-copy measure">Type: {{ instrument.sound }}</p>
                </div>
                <div class="card-action">
                    <a class="f4 fw6 db green no-underline underline-hover" href="{% url 'instruments_update' instrument.id %}">Edit</a>
                    <a class="f4 fw6 db red no-underline underline-hover" href="{% url 'instruments_delete' instrument.id %}">Delete</a>
                </div>
            </article>
        </div>
</div>

{% endblock %}