{% extends 'base.html' %}
{% block content %}

<h1>Album Details</h1>

<div>
        <div class="content">
            <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
                <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">{{ album.name }}</h1>
                <div class="pa3 bt b--black-10">
                <p class="f6 f5-ns lh-copy measure">Band: {{ album.band }}</p>
                <p class="f6 f5-ns lh-copy measure">Description: {{ album.description }}</p>
                {% if album.year != 2020 %}
                <p class="f6 f5-ns lh-copy measure">Year: {{ album.year }}</p>
                {% else %}
                <p class="f6 f5-ns lh-copy measure">New Album</p>
                {% endif %}
                </div>

                <div class="card-action">
                    <a class="f4 fw6 db green no-underline underline-hover" href="{% url 'albums_update' album.id %}">Edit</a>
                    <a class="f4 fw6 db red no-underline underline-hover" href="{% url 'albums_delete' album.id %}">Delete</a>
                </div>

            </article>
        </div>
</div>

{% endblock %}